<!-- reset_password_email.html.erb -->
<p>
  Hello <%= @user.name %>,
</p>

<p>
  Someone has requested a link to change your password.
</p>

<p>If this was you, click on the link below to reset your password. The link will expire automatically in 15 minutes.</p>

<%= link_to 'Reset Password', edit_user_password_url(reset_password_token: @token) %>

<p>
  If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
</p>

<p>Thank you.</p>
<p>
  Best regards,<br>
  The Booking Reminder App Team
</p>