<!-- welcome_email.html.erb -->
<h1>Welcome to Bookify, <%= @user.name %>!</h1>
<p>You have successfully signed up! Your username is: <%= @user.name %>.<br></p>
<p>To login, just follow this link: <%= link_to 'login', login_url %><br></p>
<p>Thanks for joining and have a great day!</p>
