<h1>Welcome to Booking Reminder App, <%= @user.name %></h1>

<p>
  You have successfully signed up for the Booking Reminder App, your username is: <%= @user.name %>.<br>
</p>
<p>
  To log in to the site, just follow this link:
  <%= link_to 'Login', new_user_session_url %>, and use your email address and password.
  <br>
</p>
<p>
  If you have any questions or need assistance, feel free to reach out to our support team.
  <br>
</p>
<p>Thanks for joining, and have a great day!</p>

<p>
  Best regards,<br>
  The Booking Reminder App Team
</p>